---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "jockstrap"
;

header > h1 {
	text-align: center;
	margin: 0;
	padding: 5rem 0;
	// background: $highlight-color;
	// background: radial-gradient( lighten($highlight-color, 10) , $highlight-color );
	color: lighten($highlight-color, 40);
}

div.container{
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;


}
div.container::before,
div.container:after{
  box-sizing: border-box;

  content: " ";
  display: table
}

div.container:after{
 clear: both;
}

.container aside,
.container article{
  display: block;
  float: left;
}

.container aside{
  width: 15%;
}

.container article{
  width: 85%;
}
@media (max-width: 480px){

  div.container{
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media (min-width: 1200px){

  div.container{
		max-width: 55rem;
	}
}

h1.post-title{
  padding-bottom: 0.1rem;
	border-bottom: 1px solid transparentize($highlight-color, 0.8);
}

aside.post-meta{
  font-size: 1rem;
  color: transparentize($base-color, 0.2);
}

p.intro{
	color: transparentize($base-color, 0.4);
}

.opensans{ font-family:'Open Sans', sans-serif; }
.raleway{ font-family: 'Raleway', sans-serif; }
.inconsolata{ font-family: 'Inconsolata', sans-serif; }

.social-media-list{
  list-style: none;
}

.social-media-list li{
  display: inline-block;
  padding: 1rem 0.5rem;
}

.social-media-list svg{
  width: 30px;
  height: 30px;

}
.social-media-list svg path{
  fill: darken($highlight-color, 40);
}
.social-media-list .username{
  display: none;
}
