---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"jockstrap",
"sassygrid"
;

header > h1 {
    text-align: center;
    margin: 0;
    padding: 5rem 1rem;
    background: $highlight-color;
    background: radial-gradient( lighten($highlight-color, 10) , $highlight-color );
    color: lighten($highlight-color, 80);
}


.post-title{
    padding-bottom: 0.1rem;
    border-bottom: 1px solid transparentize($highlight-color, 0.8);
}

.post-meta{
    font-size: 1rem;
    color: transparentize($base-color, 0.2);
}


footer{
    .col{
        padding-top: 1rem;
    }
    h6{
        color: #fff;
        margin-top: 0;
        margin-bottom: 0.3rem;
    }

    .social-media-list{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;


        li{
            display: inline-block;
            padding: 0 0.5rem;

            &:first-child{
                padding: 0 0.5rem 0 0;
            }

            a{

                .username{
                    display: none;
                }


                svg{
                    width: 30px;
                    height: 30px;


                    path{
                        transition: fill 0.2s linear;
                        fill: darken($highlight-color, 40);
                    }
                }

                &:hover{
                    svg path{
                        fill: darken($highlight-color, 20);
                    }
                }
            }
        }
    }
}