---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"jockstrap",
"sassygrid"
;

header > h1 {
    padding: 10rem 1rem;
    text-align: center;
    margin: 0;
    background: transparent url(../images/header.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    color: lighten($highlight-color, 80);

}

.introduction{
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
    border: 1px dotted $highlight-color;
    background-color: transparentize($highlight-color, 0.7);
}

.introduction h1{
    margin-top: 0
}

.container.front-article{
    padding-bottom: 4rem
}

.container--page-wrap{
    padding: 2rem 0px;
}

.post-title{
    padding-bottom: 0.1rem;
    border-bottom: 1px solid transparentize($highlight-color, 0.8);
}

.post-meta{
    font-size: 1rem;
    color: transparentize($base-color, 0.4);
}

aside.post-meta{
    padding-top: 1.8rem;
    text-align: right;
    color: transparentize($base-color, 0.6);
}


footer{
    .col{
        padding-top: 1rem;
    }
    h6{
        color: #fff;
        margin-top: 0;
        margin-bottom: 0.3rem;
    }

    .social-media-list{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;


        li{
            display: inline-block;
            padding: 0 0.5rem;

            &:first-child{
                padding: 0 0.5rem 0 0;
            }

            a{

                .username{
                    display: none;
                }


                svg{
                    width: 30px;
                    height: 30px;


                    path{
                        transition: fill 0.2s linear;
                        fill: darken($highlight-color, 40);
                    }
                }

                &:hover{
                    svg path{
                        fill: darken($highlight-color, 20);
                    }
                }
            }
        }
    }
}

@media (max-width: 480px){
    header > h1 {
        padding: 2rem 1rem;
    }
    aside.post-meta{
        padding-top: 0;
        text-align: left;
    }


    .col{
        padding-right: 14px;
    }

    .row{
        padding: 0 0 0 14px;
    }


    .row > .col{
        padding-right: 14px;
        padding-left: 0;
    }
}